/** Resets **/
body,div,p,table,tr,td,span,small,header,footer,article,aside,a,input,textarea,form,ol,ul,li,nav { margin:0; padding:0; display:block-inline; overflow:hidden; }
h1 {font-size:3rem;} h2 {font-size:2.5rem;} h3 {font-size:2rem;} h4 {font-size:1.5rem;} h5 {font-size:1rem;} h6 {font-size:0.75rem;}
h1,h2,h3,h4,h5,h6 { padding:0; margin:0; }

/** Clears Floats from Parent Elements **/
.container { display:block; }
.row, .grid { display:block; max-width:90%; margin:auto; margin-top:1rem; clear:both; }

/** Alignment **/
.align-left { text-align:left; } .align-center { text-align:center; } .align-right { text-align:right; }

/** Adds Padding to Child of Column or Grid-Box Elements **/
.column, .box { display:block; float:left; }
.column > div, .column > p, .column > aside, .column > table, .column > ul, .column > ol, .column > nav,
.column > h1, .column > h2, .column > h3, .column > h4, .column > h5, .column > h6, .column > li, .column > small,
.column > article, .column > header, .column > footer, .column > canvas,
.box > div, .box > p, .box > aside, .box > table, .box > ul, .box > ol, .box > nav,
.box > h1, .box > h2, .box > h3, .box > h4, .box > h5, .box > h6, .box > li, .box > small,
.box > article, .box > header, .box > footer, .box > canvas
    { padding-left:0.5rem; padding-right:0.5rem; }

/** Buttons **/
.button { line-height:3.5rem; padding-left:1.5rem; padding-right:1.5rem; padding-top:0.75rem; padding-bottom:0.75rem; color:#fff; font-size:1rem; text-decoration:none; opacity:1; }
.button + .button { margin-left:0.5rem; } /** If two buttons then pad-left the second **/
.button:hover { opacity:0.85; }
.button.normal { background:#000; }
.button.success { background:#5eae45; }
.button.alert { background:#e01c33; }
.button.information { background:#1a75ae; }
.button.rounded { border-radius:0.5rem; -moz-border-radius:0.5rem; -webkit-border-radius:0.5rem; }

/** Inline Elements Define **/
p { padding-top:0.5rem; padding-bottom:0.5rem; } /** Give Paragraphs Top and Bottom Spacing **/
.no-padding { padding:0 0 0 0; } .no-margin { margin:0 0 0 0; }  /** Padding and Margin Modifiers **/

/** Smallest Mobile View **/
@media (max-width: 399px) {
    .xsmall-1  { width:6.6666%; }
    .xsmall-2  { width:13.3333%; }
    .xsmall-3  { width:19.9999%; }
    .xsmall-4  { width:26.6666%; }
    .xsmall-5  { width:33.3333%; }
    .xsmall-6  { width:39.9999%; }
    .xsmall-7  { width:46.6666%; }
    .xsmall-8  { width:53.3333%; }
    .xsmall-9  { width:59.9999%; }
    .xsmall-10 { width:66.6666%; }
    .xsmall-11 { width:73.3333%; }
    .xsmall-12 { width:79.9999%; }
    .xsmall-13 { width:86.6666%; }
    .xsmall-14 { width:93.3333%; }
    .xsmall-15 { width:100%; }
}

/** Small Mobile View **/
@media (min-width: 400px) and (max-width:799px) {
    .small-1  { width:6.6666%; }
    .small-2  { width:13.3333%; }
    .small-3  { width:19.9999%; }
    .small-4  { width:26.6666%; }
    .small-5  { width:33.3333%; }
    .small-6  { width:39.9999%; }
    .small-7  { width:46.6666%; }
    .small-8  { width:53.3333%; }
    .small-9  { width:59.9999%; }
    .small-10 { width:66.6666%; }
    .small-11 { width:73.3333%; }
    .small-12 { width:79.9999%; }
    .small-13 { width:86.6666%; }
    .small-14 { width:93.3333%; }
    .small-15 { width:99.9999%; }
}

/** Tablet / Laptop / Desktop View **/
@media (min-width: 800px) and (max-width:1279px) {
    .medium-1  { width:6.6666%; }
    .medium-2  { width:13.3333%; }
    .medium-3  { width:19.9999%; }
    .medium-4  { width:26.6666%; }
    .medium-5  { width:33.3333%; }
    .medium-6  { width:39.9999%; }
    .medium-7  { width:46.6666%; }
    .medium-8  { width:53.3333%; }
    .medium-9  { width:59.9999%; }
    .medium-10 { width:66.6666%; }
    .medium-11 { width:73.3333%; }
    .medium-12 { width:79.9999%; }
    .medium-13 { width:86.6666%; }
    .medium-14 { width:93.3333%; }
    .medium-15 { width:99.9999%; }
}

/** Desktop / Laptop View **/
@media (min-width: 1280px) and (max-width:1919px) {
    .large-1  { width:6.6666%; }
    .large-2  { width:13.3333%; }
    .large-3  { width:19.9999%; }
    .large-4  { width:26.6666%; }
    .large-5  { width:33.3333%; }
    .large-6  { width:39.9999%; }
    .large-7  { width:46.6666%; }
    .large-8  { width:53.3333%; }
    .large-9  { width:59.9999%; }
    .large-10 { width:66.6666%; }
    .large-11 { width:73.3333%; }
    .large-12 { width:79.9999%; }
    .large-13 { width:86.6666%; }
    .large-14 { width:93.3333%; }
    .large-15 { width:99.9999%; }
}

/** High Definition Devices **/
@media (min-width: 1920px) {
    .xlarge-1  { width:6.6666%; }
    .xlarge-2  { width:13.3333%; }
    .xlarge-3  { width:19.9999%; }
    .xlarge-4  { width:26.6666%; }
    .xlarge-5  { width:33.3333%; }
    .xlarge-6  { width:39.9999%; }
    .xlarge-7  { width:46.6666%; }
    .xlarge-8  { width:53.3333%; }
    .xlarge-9  { width:59.9999%; }
    .xlarge-10 { width:66.6666%; }
    .xlarge-11 { width:73.3333%; }
    .xlarge-12 { width:79.9999%; }
    .xlarge-13 { width:86.6666%; }
    .xlarge-14 { width:93.3333%; }
    .xlarge-15 { width:99.9999%; }
}
