/** Resets **/
body { padding:0; margin:0; }
div,p,table,tr,td,span,small,header,footer,article,aside,a,input,textarea,form,ol,ul,li,nav,label { margin:0; padding:0; display:inline-block; overflow:hidden; box-sizing: border-box; }
h1 {font-size:3rem;} h2 {font-size:2.5rem;} h3 {font-size:2rem;} h4 {font-size:1.5rem;} h5 {font-size:1rem;} h6 {font-size:0.75rem;}
h1,h2,h3,h4,h5,h6 { padding:0; padding-top:1rem; margin:0; }

/** Clears Floats from Parent Elements **/
.container { display:block; padding-top:1rem; padding-bottom:1rem; }
.row { display:block; max-width:90%; margin:auto; clear:both; }
.grid { display:block; margin:auto; clear:both; }

/** Alignment **/
.align-left { text-align:left; } .align-center { text-align:center; } .align-right { text-align:right; }

/** Adds Padding to Child of Column or Grid-Box Elements **/
.column, .box { display:block; float:left; }
.column > div, .column > p, .column > aside, .column > table, .column > ul, .column > ol, .column > nav,
.column > h1, .column > h2, .column > h3, .column > h4, .column > h5, .column > h6, .column > li, .column > small,
.column > article, .column > header, .column > footer, .column > canvas, .column > img, .column > form,
.box > div, .box > p, .box > aside, .box > table, .box > ul, .box > ol, .box > nav,
.box > h1, .box > h2, .box > h3, .box > h4, .box > h5, .box > h6, .box > li, .box > small,
.box > article, .box > header, .box > footer, .box > canvas, .box > img, .box > form
    { padding-left:0.25rem; padding-right:0.25rem; }

/** Buttons **/
input.button { padding:0; margin:0; }
.button { padding-left:1.5rem; padding-right:1.5rem; padding-top:0.75rem; padding-bottom:0.75rem; margin-left:0.25rem; position:relative; left:-0.25rem; margin-right:0.25rem; color:#fff; font-size:1rem; line-height:1rem; text-decoration:none; opacity:1; display:inline-block; white-space: nowrap; }
.button + .button { margin-left:0.25rem; margin-right:0.25rem; } /** If two buttons then pad-left the second **/
.button:hover { opacity:0.85; }
.button.normal { background:#000; }
.button.success { background:#5eae45; }
.button.alert { background:#e01c33; }
.button.information { background:#1a75ae; }
.button.rounded { border-radius:0.25rem; -moz-border-radius:0.25rem; -webkit-border-radius:0.25rem; }

/** Forms **/
form li { margin-top:0.5rem; line-height:1.75rem; }
form li > label { font-size:1rem; line-height:1rem; }
form li > input { border:1px solid #ddd; background:#fafafa; padding:0.25rem; color:#555; }

/** Inline Elements Define **/
p { padding-top:0.5rem; padding-bottom:0.5rem; } /** Give Paragraphs Top and Bottom Spacing **/
.no-padding { padding:0 0 0 0; } .no-margin { margin:0 0 0 0; }  /** Padding and Margin Modifiers **/
pre { background:#f5f5f5; border:1px solid #ddd; padding:5px; overflow:auto; } /** PRE & CODE formatting **/

@media screen and (max-width: 399px) {    /** Smallest Mobile View **/
    .row { max-width:95%; } /** XSmall screens should have less margin from device edge **/
    .xsmall-1  { width:6.25%;  } .column + .xsmall-1 { width:6.0%; margin-left:1.25%; }
    .xsmall-2  { width:12.50%; } .column + .xsmall-2 { width:11.0%; margin-left:1.50%; }
    .xsmall-3  { width:18.75%; } .column + .xsmall-3 { width:17.25%; margin-left:1.50%; }
    .xsmall-4  { width:25.00%; } .column + .xsmall-4 { width:23.50%; margin-left:1.50%; }
    .xsmall-5  { width:31.25%; } .column + .xsmall-5 { width:29.75%; margin-left:1.50%; }
    .xsmall-6  { width:37.50%; } .column + .xsmall-6 { width:36.00%; margin-left:1.5%; }
    .xsmall-7  { width:43.75%; } .column + .xsmall-7 { width:42.25%; margin-left:1.5%; }
    .xsmall-8  { width:50.00%; } .column + .xsmall-8 { width:48.50%; margin-left:1.5%; }
    .xsmall-9  { width:56.25%; } .column + .xsmall-9 { width:54.75%; margin-left:1.5%; }
    .xsmall-10 { width:62.50%; } .column + .xsmall-10 { width:61.00%; margin-left:1.5%; }
    .xsmall-11 { width:68.75%; } .column + .xsmall-11 { width:67.25%; margin-left:1.5%; }
    .xsmall-12 { width:75.00%; } .column + .xsmall-12 { width:73.50%; margin-left:1.5%; }
    .xsmall-13 { width:81.25%; } .column + .xsmall-13 { width:79.75%; margin-left:1.5%; }
    .xsmall-14 { width:87.50%; } .column + .xsmall-14 { width:86.00%; margin-left:1.5%; }
    .xsmall-15 { width:93.75%; } .column + .xsmall-15 { width:92.25%; margin-left:1.5%; }
    .xsmall-16, .full-16 { width:99.99%; }
    .hide-below-small, .hide-below-medium, .hide-below-large, .hide-below-xlarge { display:none; }  /** Hide elements below certain points **/
    .show-below-small, .show-below-medium, .show-below-large, .show-below-xlarge { display:inline-block; }  /** Show elements only below certain points **/
}
@media (min-width: 400px) and (max-width:799px) {    /** Mobile View **/
    .row { max-width:95%; } /** Small screens should have less margin from device edge **/
    .small-1  { width:6.25%;  } .column + .small-1 { width:6.0%; margin-left:1.25%; }
    .small-2  { width:12.50%; } .column + .small-2 { width:11.0%; margin-left:1.50%; }
    .small-3  { width:18.75%; } .column + .small-3 { width:17.25%; margin-left:1.50%; }
    .small-4  { width:25.00%; } .column + .small-4 { width:23.50%; margin-left:1.50%; }
    .small-5  { width:31.25%; } .column + .small-5 { width:29.75%; margin-left:1.50%; }
    .small-6  { width:37.50%; } .column + .small-6 { width:36.00%; margin-left:1.5%; }
    .small-7  { width:43.75%; } .column + .small-7 { width:42.25%; margin-left:1.5%; }
    .small-8  { width:50.00%; } .column + .small-8 { width:48.50%; margin-left:1.5%; }
    .small-9  { width:56.25%; } .column + .small-9 { width:54.75%; margin-left:1.5%; }
    .small-10 { width:62.50%; } .column + .small-10 { width:61.00%; margin-left:1.5%; }
    .small-11 { width:68.75%; } .column + .small-11 { width:67.25%; margin-left:1.5%; }
    .small-12 { width:75.00%; } .column + .small-12 { width:73.50%; margin-left:1.5%; }
    .small-13 { width:81.25%; } .column + .small-13 { width:79.75%; margin-left:1.5%; }
    .small-14 { width:87.50%; } .column + .small-14 { width:86.00%; margin-left:1.5%; }
    .small-15 { width:93.75%; } .column + .small-15 { width:92.25%; margin-left:1.5%; }
    .small-16, .full-16 { width:99.99%; }
    .hide-below-medium, .hide-below-large, .hide-below-xlarge { display:none; }  /** Hide elements below certain points **/
    .show-below-medium, .show-below-large, .show-below-xlarge { display:inline-block; } .show-below-small { display:none; }  /** Show elements only below certain points **/
}
@media (min-width: 800px) and (max-width:1279px) {    /** Tablet / Laptop / Desktop View **/
    .medium-1  { width:6.25%;  } .column + .medium-1 { width:6.0%; margin-left:1.25%; }
    .medium-2  { width:12.50%; } .column + .medium-2 { width:11.0%; margin-left:1.50%; }
    .medium-3  { width:18.75%; } .column + .medium-3 { width:17.25%; margin-left:1.50%; }
    .medium-4  { width:25.00%; } .column + .medium-4 { width:23.50%; margin-left:1.50%; }
    .medium-5  { width:31.25%; } .column + .medium-5 { width:29.75%; margin-left:1.50%; }
    .medium-6  { width:37.50%; } .column + .medium-6 { width:36.00%; margin-left:1.5%; }
    .medium-7  { width:43.75%; } .column + .medium-7 { width:42.25%; margin-left:1.5%; }
    .medium-8  { width:50.00%; } .column + .medium-8 { width:48.50%; margin-left:1.5%; }
    .medium-9  { width:56.25%; } .column + .medium-9 { width:54.75%; margin-left:1.5%; }
    .medium-10 { width:62.50%; } .column + .medium-10 { width:61.00%; margin-left:1.5%; }
    .medium-11 { width:68.75%; } .column + .medium-11 { width:67.25%; margin-left:1.5%; }
    .medium-12 { width:75.00%; } .column + .medium-12 { width:73.50%; margin-left:1.5%; }
    .medium-13 { width:81.25%; } .column + .medium-13 { width:79.75%; margin-left:1.5%; }
    .medium-14 { width:87.50%; } .column + .medium-14 { width:86.00%; margin-left:1.5%; }
    .medium-15 { width:93.75%; } .column + .medium-15 { width:92.25%; margin-left:1.5%; }
    .medium-16, .full-16 { width:99.99%; }
    .hide-below-large, .hide-below-xlarge { display:none; }  /** Hide elements below certain points **/
    .show-below-large, .show-below-xlarge { display:inline-block; } .show-below-small, .show-below-medium { display:none; }  /** Show elements only below certain points **/
}
@media (min-width: 1280px) and (max-width:1919px) {    /** Desktop / Laptop View **/
    .large-1  { width:6.25%;  } .column + .large-1 { width:6.0%; margin-left:1.25%; }
    .large-2  { width:12.50%; } .column + .large-2 { width:11.0%; margin-left:1.50%; }
    .large-3  { width:18.75%; } .column + .large-3 { width:17.25%; margin-left:1.50%; }
    .large-4  { width:25.00%; } .column + .large-4 { width:23.50%; margin-left:1.50%; }
    .large-5  { width:31.25%; } .column + .large-5 { width:29.75%; margin-left:1.50%; }
    .large-6  { width:37.50%; } .column + .large-6 { width:36.00%; margin-left:1.5%; }
    .large-7  { width:43.75%; } .column + .large-7 { width:42.25%; margin-left:1.5%; }
    .large-8  { width:50.00%; } .column + .large-8 { width:48.50%; margin-left:1.5%; }
    .large-9  { width:56.25%; } .column + .large-9 { width:54.75%; margin-left:1.5%; }
    .large-10 { width:62.50%; } .column + .large-10 { width:61.00%; margin-left:1.5%; }
    .large-11 { width:68.75%; } .column + .large-11 { width:67.25%; margin-left:1.5%; }
    .large-12 { width:75.00%; } .column + .large-12 { width:73.50%; margin-left:1.5%; }
    .large-13 { width:81.25%; } .column + .large-13 { width:79.75%; margin-left:1.5%; }
    .large-14 { width:87.50%; } .column + .large-14 { width:86.00%; margin-left:1.5%; }
    .large-15 { width:93.75%; } .column + .large-15 { width:92.25%; margin-left:1.5%; }
    .large-16, .full-16 { width:99.99%; }
    .hide-below-xlarge { display:none; }  /** Hide elements below certain points **/
    .show-below-xlarge { display:inline-block; } .show-below-small, .show-below-medium, .show-below-large { display:none; }  /** Show elements only below certain points **/
}
@media (min-width: 1920px) {    /** High Definition Devices **/
    .xlarge-1  { width:6.25%;  } .column + .xlarge-1 { width:6.0%; margin-left:1.25%; }
    .xlarge-2  { width:12.50%; } .column + .xlarge-2 { width:11.0%; margin-left:1.50%; }
    .xlarge-3  { width:18.75%; } .column + .xlarge-3 { width:17.25%; margin-left:1.50%; }
    .xlarge-4  { width:25.00%; } .column + .xlarge-4 { width:23.50%; margin-left:1.50%; }
    .xlarge-5  { width:31.25%; } .column + .xlarge-5 { width:29.75%; margin-left:1.50%; }
    .xlarge-6  { width:37.50%; } .column + .xlarge-6 { width:36.00%; margin-left:1.5%; }
    .xlarge-7  { width:43.75%; } .column + .xlarge-7 { width:42.25%; margin-left:1.5%; }
    .xlarge-8  { width:50.00%; } .column + .xlarge-8 { width:48.50%; margin-left:1.5%; }
    .xlarge-9  { width:56.25%; } .column + .xlarge-9 { width:54.75%; margin-left:1.5%; }
    .xlarge-10 { width:62.50%; } .column + .xlarge-10 { width:61.00%; margin-left:1.5%; }
    .xlarge-11 { width:68.75%; } .column + .xlarge-11 { width:67.25%; margin-left:1.5%; }
    .xlarge-12 { width:75.00%; } .column + .xlarge-12 { width:73.50%; margin-left:1.5%; }
    .xlarge-13 { width:81.25%; } .column + .xlarge-13 { width:79.75%; margin-left:1.5%; }
    .xlarge-14 { width:87.50%; } .column + .xlarge-14 { width:86.00%; margin-left:1.5%; }
    .xlarge-15 { width:93.75%; } .column + .xlarge-15 { width:92.25%; margin-left:1.5%; }
    .xlarge-16, .full-16 { width:99.99%; }
}
